<header class="header">
	<div class="header-top">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-sm-6 col-lg-6 header-top_nav">
					<ul class="header-top_nav_menu">
						<li><a href="#">Support</a></li>	
						<li><a href="#">Delivery</a></li>	
						<li><a href="#">Legal</a></li>	
						<li><a href="#">About Us</a></li>		
					</ul>
				</div>
				<div class="col-12 col-sm-6 col-lg-6 header-top_login">
					<ul>
						<li><a href="#"><i class="fa fa-shopping-bag"><p>$465.00</p><span>4 Items</span></i></a></li>
						<li class="log"><a href="#">Login</a></li>
						<li class="reg"><a href="#">Register</a></li>
					</ul>
				</div>		
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-md-4 header-bottom_logo">
					<img src="img/logo.png" alt="logo">
					<button class="header-bottom_btn">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="col-12 col-md-8 header-bottom_nav">
					<ul class="header-bottom_nav_menu">
						<li><a href="#">Home</a></li>	
						<li><a href="#">Men</a></li>	
						<li><a href="#">Woomem</a></li>	
						<li><a href="#">Children</a></li>
						<li><a href="#">Baby</a></li>
						<li><a href="#">Our Brands</a></li>
						<li><a href="#">Sales</a></li>		
					</ul>
				</div>
			</div>	
		</div>
	</div>																								

    
</header>