<div class="home">
	<div class="container-fluid home_top">
		<div class="row">
			<div class="col col-sm-6 foto">
				<img src="img/top-home.png" alt="nike">
			</div>
			<div class="col col-sm-6 info">
				<p class="price">From $80.00</p>
				<h1>Nike Air Max</h1>
				<h3>50 Variants</h3>
				<p>Since this is our favorite sneaker, we’re bringing you
					50 variants to suit everyone’s needs.</p>
				<button><a href="#">Browse variants</a></button>		
			</div>
		</div>
	</div>
	<div class="container home_discover">
		<div class="row">
			<div class="col-6 left_content">
				<div class="kyrie">
					<img src="img/nikekyrie.png" alt="nike">
					<button>Viev collection</button>
				</div>	
			</div>
			<div class="col-6  right_content">
				<div class="right_content_new">
					<div class="arrivals">
						<img src="img/new_arrivals.png" alt="new">
						<button>Discover</button>
					</div>
					<img class="best" src="img/best.png" alt="best">
					<img class="premium" src="img/premium.png" alt="premium">
				</div>
			</div>
		</div>
	</div>
	<div class="filter">
		<div class="container">
			<div class="components">
				<ul>
					<li class="components_new">New</li>
					<li class="components_popular">Popular</li>
					<li class="components_top_picks">Top picks</li>
				</ul>
			</div>
			<div class="filter_content">
				<div class="rows">
					<div class="new item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
					<div class="popular item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
					<div class="top_picks item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
					<div class="new item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
					<div class="popular item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
					<div class="top_picks item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
					<div class="popular item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
					<div class="new item">
						<div class="prices">
							<p class="price">$45.00</p>
							<p class="sale">-25%</p>
						</div>
						<p class="old_price">$60.00</p>
						<img src="img/Convers_breakpoint.png" alt="convers">
						<div class="info">
							<h3>MEN</h3>
							<p class="name">Converse Breakpoint</p>
							<p class="article">#16378271</p>
						</div>
					</div>
				</div>
			</div>
			<div class="brand">
				<img src="img/brand/adidas.png" alt="adidas">
				<img src="img/brand/nike.png" alt="nike">
				<img src="img/brand/puma.png" alt="puma">
				<img src="img/brand/newbalans.png" alt="newbalans">
				<img src="img/brand/fila.png" alt="fila">
			</div>
		</div>
	</div>
</div>